
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #163e61;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        border-radius: 0px 15px 15px 0px;
      }
      
      .sidebarnolink {
        padding: 13px 8px 13px 32px;
        text-decoration: none;
        font-size: 29px;
        color: white;
        display: block;
        transition: 0.3s;
        font-weight: bold;
      }

      .sidebarlink {
        padding: 13px 8px 13px 32px;
        text-decoration: none;
        font-size: 29px;
        color: white;
        display: block;
        transition: 0.3s;
        font-weight: bold;
      }

      .sidebar-icon {
        padding: 13px 8px 13px 32px;
        text-decoration: none;
        font-size: 60px;
        color: white;
        display: block;
        transition: 0.3s;
        
      }
      
      .sidenav i:hover {
        color: black;
        border-radius: 15px 15px 15px 15px;
      }
      
      
      .sidebarlink:hover {
        background-color: #225c8f;
        border-radius: 15px 15px 15px 15px;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }